# Postgres, Django
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=cardman
POSTGRES_PASSWORD=password
POSTGRES_DB=cardman_db
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@localhost
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
